<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
    .footer {
            position:absolute;bottom:0;
            width:100%;
            display:block;
            text-align: center;
    
} 
    .dashboardButton {
               color: #0099CC; /* Text color */
               background-color: transparent; /* Remove background color */
               border: 2px solid #0099CC; /* Border thickness, line style, and color */
               border-radius: 5px; /* Adds curve to border corners */
               text-transform: uppercase; /* Make letters uppercase */
               text-decoration: none;
       }
   .addinfoButton {
               color: green; /* Text color */
               background-color: transparent; /* Remove background color */
               border: 2px solid green; /* Border thickness, line style, and color */
               border-radius: 5px; /* Adds curve to border corners */
               text-transform: uppercase; /* Make letters uppercase */
               text-decoration: none;
       }
</style>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div style="margin-left: 65px;" class="container-fluid">
          <a  class="navbar-brand" href="/api/user/index"><i class="fas fa-user-check fa-lg"></i> ResumeBuilder</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div style="margin-right: 65px;" class="ml-auto" class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/api/user/get-info">Dashboard</a>
            </li>
            </ul>
        </div>
    </nav>
<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 30px auto;">
            <h1 style="text-align: center;">Add Information</h1>
            <form method="POST">
                <div class="form-group">
                    <label for="houseNumber">House Number:</label>
                    <input class="form-control" type="text" id="houseNumber"  name="houseNumber" required>
                </div>
                
                <div class="form-group">
                    <label for="street">Street:</label>
                    <input class="form-control" type="text" id="street"  name="street" required>
                </div>
                
                <div class="form-group">
                    <label for='city'>City:</label>
                    <input class="form-control" type="text" id="city"  name="city" required>
                </div>
            
                <div class="form-group">
                    <label for='state'>State:</label>
                    <input class="form-control" type="text" id="state" name="state" required>
                </div>
            
                <div class="form-group">
                    <label for='country'>Country:</label>
                    <input class="form-control" type="text" id="country" name="country" required>
                </div>
               
                <div class="form-group">
                    <label for='mobileNumber'>Mobile Number:</label>
                    <input class="form-control" type="text" id="mobileNumber"  name="mobileNumber" required>
                </div>
            
                <div class="form-group">
                    <label for='age'>Age:</label>
                    <input class="form-control" type="text" id="age" name="age" required>
                </div>
            
                <button   style="margin-top: 10px; width: 100%; height: 40px;"  class="addinfoButton" onclick="addInfo()" type="button">Add Information</button>            
            </form>
        </div>
    </div>
</div>

<p class="footer">
    © Copyright 2021 Company Name. All rights reserved.
 </p>
</body>
</html>



<script>
    function addInfo() {
        console.log('button clicked');
        var formData = {
            houseNumber: $("#houseNumber").val(),
            street: $("#street").val(),
            city: $("#city").val(),
            state: $("#state").val(),
            country: $("#country").val(),
            mobileNumber: $("#mobileNumber").val(),
            age: $("#age").val(),
        }
            $.ajax({
            type: "POST",
            url: "/api/user/info",
            data: formData,
            dataType: "json",
            success: function(data, textStatus) {
                window.location.href= '/api/user/get-info';
            },
            encode: true,
            })
    }
</script>


