<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>Add Education</h1>
<style>
    .dashboardButton {
                color: #0099CC; /* Text color */
                background-color: transparent; /* Remove background color */
                border: 2px solid #0099CC; /* Border thickness, line style, and color */
                border-radius: 5px; /* Adds curve to border corners */
                text-transform: uppercase; /* Make letters uppercase */
                text-decoration: none;
        }
    .editeducationButton {
                color: green; /* Text color */
                background-color: transparent; /* Remove background color */
                border: 2px solid green; /* Border thickness, line style, and color */
                border-radius: 5px; /* Adds curve to border corners */
                text-transform: uppercase; /* Make letters uppercase */
                text-decoration: none;
        }
</style>
<form method="POST">
    <div>
        <label for="institution_name">Institution Name :</label>
        <input type="text" id="institution_name" value="<%= education.institution_name %>" name="institution_name" required>
    </div>
    
    <div>
        <label for="percentage">Percentage:</label>
        <input type="text" id="percentage"  value="<%= education.percentage %>" name="percentage" required>
    </div>
    
    <div>
        <label for='degree'>Degree:</label>
        <input type="text" id="degree"  value="<%= education.degree %>" name="degree" required>
    </div>
    
    <div>
        <label for='yop'>Year of passing:</label>
        <input type="text" id="yop"  value="<%= education.yop %>" name="yop" required>
    </div>
    <button class="editeducationButton" onclick="editEducation()" type="button">Update Education</button>
    <a class="dashboardButton" href="/api/user/get-info">Dashboard</a>
</form>


<script>
    function editEducation() {
        console.log('button clicked');
        var formData = {
            institution_name: $("#institution_name").val(),
            percentage: $("#percentage").val(),
            degree: $("#degree").val(),
            yop: $("#yop").val(),
        }
            $.ajax({
            type: "POST",
            url: "/api/user/info/education",
            data: formData,
            dataType: "json",
            success: function(data, textStatus) {
                window.location.href= '/api/user/get-info';
            },
            encode: true,
            })
    }
</script>

